src/main/resources/com/asolutions/scmsshd/spring/xml/scumd-0.1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://asolutions.com/schema/spring/scumd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"

            targetNamespace="http://asolutions.com/schema/spring/scumd"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"
                schemaLocation="http://www.springframework.org/schema/tool/spring-tool-2.0.xsd"/>

    <xsd:element name="git-ssh-server">
        <xsd:annotation>
            <xsd:documentation source="java:com.asolutions.scmsshd.ConfigurableGitSshServer">
                Creates default Git SSH Server
            </xsd:documentation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="com.asolutions.scmsshd.ConfigurableGitSshServer"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="simple-user-dao" type="SimpleUserDao" minOccurs="0"/>
                        <xsd:element name="acl" type="RepositoryAcl" minOccurs="0"/>
                        <xsd:element name="default-server-key-pair" type="DefaultKeyPairProvider" minOccurs="0"/>
                        <xsd:element name="file-server-key-pair" type="FileKeyPairProvider" minOccurs="0"/>
                        <xsd:element name="simple-server-key-pair" type="SimpleKeyPairProvider" minOccurs="0"/>
                        <xsd:element name="file-user-dao-acl" type="UserDaoAclFile" minOccurs="0"/>
                        <xsd:element name="database-user-dao-acl" type="DatabaseUserDaoAcl" minOccurs="0"/>
                        <xsd:element name="listeners" type="Listener" minOccurs="0"/>
                    </xsd:choice>

                    <xsd:attribute name="port" type="xsd:integer" use="required">
                        <xsd:annotation>
                            <xsd:documentation>SSH Server Port</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="repositories-base" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation>Base directory of the Git repositories</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="user-dao-ref" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Reference to the UserDao</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="acl-ref" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Reference to the Repository Access Control List (ACL)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="allow-caching" type="xsd:boolean" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Is caching allowed for the repositories (by default true)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="max-files-pro-event" type="xsd:integer" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>How many file events push and commit events are allowed to hold (default 2000)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                    <xsd:attribute name="user-dao-acl-ref" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="simple-user-dao" type="SimpleUserDao"/>

    <xsd:element name="acl" type="RepositoryAcl"/>

    <xsd:element name="file-server-key-pair" type="FileKeyPairProvider"/>

    <xsd:element name="simple-server-key-pair" type="SimpleKeyPairProvider"/>

    <xsd:element name="file-user-dao-acl" type="UserDaoAclFile"/>

    <xsd:element name="database-user-dao-acl" type="DatabaseUserDaoAcl"/>

    <xsd:element name="listeners" type="Listener" />

    <xsd:element name="email-sender" type="EmailSender" />

    <!-- Type definition -->

    <xsd:complexType name="SimpleUserDao">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="user" type="User" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="group" type="Group" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Group">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="user" type="User" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="User">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="0">
                    <xsd:element name="password">
                        <xsd:complexType>
                            <xsd:attribute name="password" type="xsd:string" use="required"/>
                            <xsd:attribute name="checksum" type="PasswordChecksum" default="none"/>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="public-key">
                        <xsd:complexType mixed="true">
                            <xsd:attribute name="file" type="xsd:string" use="optional"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:attribute name="name" type="xsd:string" use="required"/>
                <xsd:attribute name="password" type="xsd:string"/>
                <xsd:attribute name="expire" type="xsd:date"/>
                <xsd:attribute name="active" type="xsd:boolean" default="true"/>
                <xsd:attribute name="groups" type="xsd:string"/>
                <xsd:attribute name="email" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RepositoryAcl">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                    <xsd:element name="repository" type="Repository"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Repository">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="users" type="RepositoryIdentityAcl"/>
            <xsd:element name="groups" type="RepositoryIdentityAcl"/>
        </xsd:choice>

        <xsd:attribute name="path" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>Repository path pattern list. Patterns is similar to the ANT path. You can use * and ** wildcards.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="RepositoryIdentityAcl" mixed="true">
        <xsd:attribute name="allow">
            <xsd:annotation>
                <xsd:documentation>List of permissions. Can be: ReadWrite, ReadOnly, Create</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="list">
            <xsd:annotation>
                <xsd:documentation>List of users or groups (depending on the enclosing tag).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="DefaultKeyPairProvider"/>

    <xsd:complexType name="FileKeyPairProvider">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="key-file" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="path" type="xsd:string"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SimpleKeyPairProvider">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="key" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="UserDaoAclFile">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="file" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DatabaseUserDaoAcl">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:choice minOccurs="1" maxOccurs="1">
                    <xsd:element name="dbcp-connection-pool" type="DbcpConnectionPool" />
                </xsd:choice>
                <xsd:attribute name="driver-class" type="xsd:string" use="required"/>
                <xsd:attribute name="url" type="xsd:string" use="required"/>
                <xsd:attribute name="username" type="xsd:string" use="required"/>
                <xsd:attribute name="password" type="xsd:string" use="required"/>
                <xsd:attribute name="sql-statements-file" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DbcpConnectionPool">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:attribute name="max-idle" type="xsd:integer" use="optional"/>
                <xsd:attribute name="min-idle" type="xsd:integer" use="optional"/>
                <xsd:attribute name="max-active" type="xsd:integer" use="optional"/>
                <xsd:attribute name="max-wait" type="xsd:long" use="optional"/>
                <xsd:attribute name="min-evictable-idle-time-millis" type="xsd:long" use="optional"/>
                <xsd:attribute name="num-tests-per-eviction-run" type="xsd:integer" use="optional"/>
                <xsd:attribute name="max-open-prepared-statements" type="xsd:integer" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="PasswordChecksum">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="none"/>
            <xsd:enumeration value="md5"/>
            <xsd:enumeration value="sha1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="PathBasedSupport">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="includes" maxOccurs="1" />
            <xsd:element name="excludes" maxOccurs="1" />
        </xsd:choice>
        <xsd:attribute name="includes" type="xsd:string" use="optional"/>
        <xsd:attribute name="excludes" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="SupportContainer">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="not" type="SupportContainer" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="file" type="PathBasedSupport" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="repo" type="PathBasedSupport" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="user" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="group" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="author" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="Listener">
        <xsd:complexContent>
            <xsd:extension base="SupportContainer">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="email" type="EmailListener" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="push-log" type="LogListener" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="access-log" type="LogListener" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="cancel" type="CancelListener" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="beans:bean" />
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="EmailListener">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="subject" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="emails" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="users" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="groups" minOccurs="0" maxOccurs="1"/>
        </xsd:choice>
        <xsd:attribute name="emails" type="xsd:string" use="optional"/>
        <xsd:attribute name="users" type="xsd:string" use="optional"/>
        <xsd:attribute name="groups" type="xsd:string" use="optional"/>

        <xsd:attribute name="subject" type="xsd:string" use="optional"/>
        <xsd:attribute name="event" type="EmailEventType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="EmailSender">
        <xsd:attribute name="disable" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="host" type="xsd:string" use="required"/>
        <xsd:attribute name="port" type="xsd:int" use="optional"/>
        <xsd:attribute name="protocol" type="EmailProtocol" use="optional"/>
        <xsd:attribute name="auth" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="user" type="xsd:string" use="optional"/>
        <xsd:attribute name="password" type="xsd:string" use="optional"/>
        <xsd:attribute name="from" type="xsd:string" use="required"/>
        <xsd:attribute name="replay-to" type="xsd:string" use="optional"/>
        <xsd:attribute name="force-email" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="LogListener">
        <xsd:attribute name="path" type="xsd:string" use="optional"/>
        <xsd:attribute name="max-file-size" type="xsd:string" use="optional"/>
        <xsd:attribute name="max-backup-index" type="xsd:string" use="optional"/>
        <xsd:attribute name="pattern" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="CancelListener">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="event" type="EventType" use="optional"/>
                <xsd:attribute name="event-class" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="EventType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="authentication"/>
            <xsd:enumeration value="authorization"/>
            <xsd:enumeration value="repoCreate"/>
            <xsd:enumeration value="pull"/>
            <xsd:enumeration value="push"/>
            <xsd:enumeration value="commit"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="EmailEventType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="authenticationSuccess"/>
            <xsd:enumeration value="authenticationFail"/>
            <xsd:enumeration value="authorizationSuccess"/>
            <xsd:enumeration value="authorizationFail"/>
            <xsd:enumeration value="repoCreate"/>
            <xsd:enumeration value="pull"/>
            <xsd:enumeration value="push"/>
            <xsd:enumeration value="commit"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="EmailProtocol">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="smtp"/>
            <xsd:enumeration value="smtps"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
